// enchanted tavern
$rusticOak: #5B3A29;
$hearthEmber: #E0B084;
$hearthEmberTwo:rgb(197, 146, 99);
$spellbookIvory: #f5e9d2;
$enchantedFog: #7289a8;
$arcaneAmethyst: #6c4f79;

// pixie hollow twilight
$twilightVeil: #3B4368;
$starlitGold: #EAC98F	;
$whisperingFern: #9BBAA0;	
$moonlitOcean: #4F759B	;
$ancientScroll:#F2E0C2	;

// coraline's door
$lostTides: #304769;
$lanternGlow: #e3b778;
$mysticOrchid: #6e4f7a;
$moonshadow: #3A3F70;
$timewornScroll: #fae5c2;