@use "../../styles/partials/variables" as *;

.quest {
  display: flex;
  background: $hearthEmber;
  padding: 1rem 1.25rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  align-items: center;
  border: 2px solid $hearthEmberTwo;
  position: relative;

  &__buttons {
    // border: 1px solid;
    width: 15%;
    display: flex;
    justify-content: space-between;
    &--whimsify {
      padding: 0.5rem 0.75rem;
      border: none;
      border-radius: 0.5rem;
      background: $mysticOrchid;
      cursor: pointer;
      // position: absolute;
      // right: 3rem;
    }
    &--delete {
      padding: 0.25rem 0.5rem;
    }
  }

  &__complete {
    text-decoration: line-through;
  }
  // margin: 0 auto;
}
